[submodule "ruote"]
	path = ruote
	url = https://github.com/MeeGoIntegration/ruote.git
[submodule "ruote-kit"]
	path = ruote-kit
	url = https://github.com/MeeGoIntegration/ruote-kit.git
[submodule "ruote-sequel"]
	path = ruote-sequel
	url = https://github.com/lbt/ruote-sequel
