Source: boss
Section: net
Priority: extra
Maintainer: Islam Amer <islam.amer@nokia.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://wiki.meego.com/BOSS

Package: boss
Architecture: all
Depends: ${misc:Depends}, rabbitmq-server, daemontools-run, ruby, ruby-ruote-amqp, ruby-yajl
Description: MeeGo Build Orchestration Server System
 The BOSS package configures the servers used to connect BOSS participants.

