Source: boss
Section: net
Priority: extra
Maintainer: David Greaves <david@dgreaves.com>
Uploaders: Islam Amer <islam.amer@nokia.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://wiki.meego.com/BOSS

Package: boss
Architecture: all
Depends: ${misc:Depends}, ruby | ruby-interpreter, rabbitmq-server, python-boss-skynet (>= 0.6.0), ruby-amqp (>= 0.9.0), ruby-ruote-amqp, ruby-inifile
Description: MeeGo Build Orchestration Server System
 The BOSS package configures the servers used to connect BOSS participants.

Package: boss-viewer
Architecture: all
Depends: ${misc:Depends}, ruby-ruote-kit (>= 2.2.1.0), boss
Description: A web based viewer to provide an overview of BOSS processes
 A wrapper around ruote-kit

