Source: boss
Section: net
Priority: extra
Maintainer: David Greaves <david@dgreaves.com>
Uploaders: Islam Amer <islam.amer@nokia.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://wiki.meego.com/BOSS

Package: boss
Architecture: all
Depends: ${misc:Depends}, rabbitmq-server, python-boss-skynet, ruby, rubygems, ruby-ruote-amqp
Description: MeeGo Build Orchestration Server System
 The BOSS package configures the servers used to connect BOSS participants.

